		table {
             overflow-y:scroll;
   height:350px;
   display:block;

    margin-top:;  
     background-color: ;
    font-family: sans-serif;
font-size: 17px;
color:#202a3a;
      margin-left: 20px;
            width: auto;
	
	
}

th, td {
    text-align: left;
   
}

tr:nth-child(even){background-color: #c7c2c2}

th {
    background-color: #4CAF50;
    color: rgb(204, 200, 200);
	height: 40px;
}
{
	
}
